Agents

<button ng-click="openForm = true">
  Add
</button>
<form ng-show="openForm" ng-submit="submitNewAgent()">
  <input ng-model="newAgentName">
  <input type="submit" id="submit" value="Submit" />
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th ng-repeat="field in data_set.fields">
        <span ng-bind="field"></span>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="row in data_set.rows">
      <td ng-repeat="(key, value) in row">
        <span ng-bind="value"></span>
      </td>
    </tr>
  </tbody>
</table>
